In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myindex=['CA', 'NY', 'AZ', 'TX']

In [6]:
mycolumns=['Jan','Feb','Mar']

In [7]:
df=pd.DataFrame(mydata)

In [8]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [9]:
df=pd.DataFrame(data=mydata,index=myindex)

In [10]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [11]:
df=pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [12]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [14]:
pwd

'C:\\Users\\German'

In [15]:
ls

 ’®¬ ў гбва®©бвўҐ C Ё¬ҐҐв ¬ҐвЄг OS
 ‘ҐаЁ©­л© ­®¬Ґа в®¬ : 7A2B-FB35

 ‘®¤Ґа¦Ё¬®Ґ Ї ЇЄЁ C:\Users\German

19.12.2021  19:10    <DIR>          .
19.12.2021  19:10    <DIR>          ..
21.01.2014  20:45    <DIR>          .android
11.07.2020  16:28                90 .angular-config.json
14.12.2021  17:54               904 .bash_history
12.07.2020  22:03    <DIR>          .bundle
11.07.2020  16:26    <DIR>          .config
12.07.2020  21:47    <DIR>          .gem
11.07.2020  20:09                53 .gitconfig
02.12.2021  14:39                42 .gitignore
11.12.2021  16:58    <DIR>          .idea
19.12.2021  19:02    <DIR>          .ipynb_checkpoints
22.11.2021  20:33    <DIR>          .ipython
01.12.2021  22:24    <DIR>          .jupyter
28.11.2021  22:25    <DIR>          .matplotlib
22.08.2020  22:11    <DIR>          .oracle_jre_usage
18.10.2021  16:30               178 .packettracer
06.08.2021  11:54    <DIR>          .PyCharmCE2019.2
19.12.2021  17:39    <DIR>          .spyder-py3
22.08.2020  15:47               121 .yarnrc
14.12.2020  20:56    <DIR>          app679
19.12.2021  17:53               588 bla.ipynb
18.10.2021  16:30    <DIR>          Cisco Packet Tracer 7.2.1
15.12.2020  19:11    <DIR>          Contacts
21.01.2014  20:45                 0 daemonprocess.txt
02.12.2021  18:09    <DIR>          DataspellProjects
19.12.2021  18:41    <DIR>          Desktop
12.02.2017  21:40    <DIR>          Doctor Web
18.09.2021  15:45    <DIR>          Documents
19.12.2021  17:38    <DIR>          Downloads
12.07.2020  21:18        62я241я624 edb_languagepack.exe
12.07.2020  21:18        11я248я296 edb_mtk.exe
12.07.2020  21:18         9я577я920 edb_npgsql.exe
12.07.2020  21:18        17я376я840 edb_pem_agent.exe
12.07.2020  21:19       404я368я768 edb_pem_server.exe
12.07.2020  21:19         8я469я200 edb_pem_sqlprofiler_pg12.exe
12.07.2020  21:19         8я635я296 edb_pgagent_pg12.exe
12.07.2020  21:19        18я586я568 edb_pgbouncer.exe
12.07.2020  21:19        10я905я424 edb_pgjdbc.exe
12.07.2020  21:19        16я508я968 edb_psqlodbc.exe
11.12.2021  19:25    <DIR>          envs
31.05.2016  18:18    <DIR>          Favorites
06.06.2021  11:32    <DIR>          first
01.01.2021  17:40            40я259 java_error_in_phpstorm64_6752.log
02.05.2021  20:14            40я665 java_error_in_pycharm64_1392.log
05.11.2021  20:21             2я487 java_error_in_pycharm64_3132.log
21.02.2021  10:05            27я852 java_error_in_pycharm64_4964.log
26.09.2021  22:08            49я622 java_error_in_pycharm64_5216.log
11.02.2021  23:16            40я319 java_error_in_pycharm64_6464.log
05.11.2021  20:29            62я246 java_error_in_pycharm64_7304.log
05.11.2021  20:26            62я186 java_error_in_pycharm64_796.log
07.01.2021  00:20            40я228 java_error_in_rubymine64_5144.log
25.12.2020  23:18            41я452 java_error_in_webstorm64_6336.log
01.01.2021  22:59            41я246 java_error_in_webstorm64_7800.log
29.12.2020  01:35            27я918 java_error_in_webstorm64_8292.log
03.12.2021  17:53    <DIR>          Jedi
02.12.2021  14:39    <DIR>          Lib
31.05.2016  18:18    <DIR>          Links
02.12.2021  19:51             1я580 matplotlib1.ipynb
11.12.2021  19:25    <DIR>          miniconda3
31.05.2016  18:18    <DIR>          Music
18.08.2021  19:19    <DIR>          myawesomeblog
08.08.2021  20:08    <DIR>          myfirstproject
19.12.2021  19:14         2я883я584 NTUSER.DAT
15.12.2021  18:21           273я539 Pandas Built-in Visualisation Task Solution.ipynb
15.12.2021  17:32           792я612 pandas.data.visualization
19.12.2021  17:37             4я043 pandas.series.one
19.12.2021  18:40             7я925 pandas.series.two.ipynb
19.12.2021  17:38             4я043 pandas-Copy1.series.one
04.01.2021  18:45    <DIR>          PhpstormProjects
05.08.2017  13:59    <DIR>          Pictures
16.12.2021  19:06    <DIR>          PycharmProjects
02.12.2021  14:39               264 pyvenv.cfg
07.01.2021  00:32    <DIR>          RubymineProjects
31.05.2016  18:18    <DIR>          Saved Games
02.12.2021  15:13    <DIR>          Scripts
14.12.2021  19:15           314я361 seaborn.styles
11.12.2021  21:29           465я662 seaborn_data_distribution.ipynb
12.12.2021  20:50           162я450 seaborn_matrix_plots.ipynb
13.12.2021  21:03           753я485 seaborn_regression_plots.ipynb
13.12.2021  18:55    <DIR>          seaborn-data
31.05.2016  18:18    <DIR>          Searches
02.12.2021  15:12    <DIR>          share
09.04.2015  07:44    <DIR>          Tracing
22.11.2021  20:49             2я004 Untitled.ipynb
01.12.2021  22:31             3я310 Untitled1.ipynb
12.12.2021  20:50           162я450 Untitled10.ipynb
13.12.2021  19:24           435я209 Untitled11.ipynb
13.12.2021  20:57           753я485 Untitled12.ipynb
14.12.2021  19:14           314я361 Untitled13.ipynb
14.12.2021  19:36             1я249 Untitled14.ipynb
15.12.2021  16:38             1я037 Untitled15.ipynb
15.12.2021  17:32           792я612 Untitled16.ipynb
15.12.2021  18:15               588 Untitled17.ipynb
16.12.2021  15:40               588 Untitled18.ipynb
16.12.2021  15:39                72 Untitled19.ipynb
01.12.2021  22:36            10я854 Untitled2.ipynb
16.12.2021  16:42           197я951 Untitled20.ipynb
18.12.2021  17:25            20я115 Untitled21.ipynb
18.12.2021  18:24            12я312 Untitled22.ipynb
18.12.2021  19:12            10я920 Untitled23.ipynb
18.12.2021  19:39            12я924 Untitled24.ipynb
19.12.2021  17:22             4я041 Untitled25.ipynb
19.12.2021  17:31             1я328 Untitled26.ipynb
19.12.2021  17:37             4я043 Untitled27.ipynb
19.12.2021  17:45               588 Untitled28.ipynb
19.12.2021  18:12             4я043 Untitled29.ipynb
01.12.2021  22:48             2я572 Untitled3.ipynb
19.12.2021  18:18             2я135 Untitled30.ipynb
19.12.2021  18:37             7я925 Untitled31.ipynb
19.12.2021  19:02             1я811 Untitled32.ipynb
19.12.2021  19:10             8я649 Untitled33.ipynb
02.12.2021  20:02               662 Untitled4.ipynb
02.12.2021  20:51             4я726 Untitled5.ipynb
03.12.2021  16:07             1я278 Untitled6.ipynb
11.12.2021  21:18           459я437 Untitled7.ipynb
12.12.2021  20:05           384я672 Untitled8.ipynb
12.12.2021  20:13               769 Untitled9.ipynb
16.12.2021  16:35           389я629 US Police Shootings Project Solution.ipynb
08.08.2021  22:39    <DIR>          viceversa-project
31.05.2016  18:18    <DIR>          Videos
04.01.2021  11:03    <DIR>          WebstormProjects
              77 д ©«®ў    578я071я257 Ў ©в
              45 Ї Ї®Є  46я288я015я360 Ў ©в бў®Ў®¤­®

In [16]:
df=pd.read_csv(r'C:\Users\German\Desktop\tips.csv')

In [17]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]